.navbar1{
  z-index:99;
}

.navul{
    font-size: 0.82rem;
}

.iconUp {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.iconDown {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}